<html>
<head> <title> Program to check ODD/EVEN </title> </head>
<body>
<h1> Program to check ODD/EVEN</h1><br>
<form method="GET">     <!-- Method is decleared with which we are taking input. IF we change here with post then change in app.py "agrs" to "form"-->

<lable> ENTER NUMBER TO CHECK</lable>                       <!-- Created Form -->
<br>
<input type="number" name = "q"/>                           <!-- Giving data to app.py form "q" and store to "name" -->
<br>
<input type="submit" value="Confirm"/>                       <!-- Submit Button -->
</form>
</body>
</html>